body,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  margin-top: 100px; /* Adjust as needed */
}

.logo {
  width: 400px;
  height: auto;
}

.title {
  margin-top: 20px;
  color: #333;
  font-size: 36px;
}

/* gala */
.rsvp-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
